body .section_accueil {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-template-areas:
    "e"
    "e"
    "h1";
  min-height: 90vh;
  margin-bottom: 150px;
  padding-left: 2vw;
}

.section_accueil h1 {
  height: fit-content;
  max-width: 70vw;
  font-size: clamp(3rem, 8vw, 7rem);
  font-weight: 700;
  line-height: 9.75rem;
  margin-left: 30px;
  grid-area: h1;
}
