nav {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.692);
  padding-left: 30px;
}

.navbar {
  width: 50vw;
}
ul {
  display: flex;
  /* max-width: 500px; */
  justify-content: space-between;
  list-style: none;
  align-self: center;
}
nav .titreFixe {
  font-weight: 700;
}
li .active {
  color: #a05489;
  border-bottom: 2px solid #a05489;
  padding-bottom: 12px;
  animation: fade-in 500ms ease-in-out forwards;
}
li a:hover {
  color: #a05489;
}
