.footer {
  background: #000;
  height: 30vh;
  padding: 40px 70px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  font-size: 1.25rem;
}
.footer p {
  text-align: bottom;
  margin-top: 20px;
  font-size: 1rem;
}
