section {
  padding-top: 10vh;
  padding-left: 8vw;
}
.article {
  display: grid;
  grid-template: 114px repeat(2, 1fr) / 55% 45%;
  grid-template-areas:
    "titre titre"
    "img pr"
    "img pl";
  padding: 0px 20px 80px 100px;
  /* max-width: 75vw; */
  border-left: solid 1px #edebf0;
}
.article .titre_section {
  grid-area: titre;
  font-size: clamp(1.25rem, 1.5rem, 2rem);
}

.article img {
  grid-area: img;
  max-height: 70vh;
}
.article .p_regular {
  grid-area: pr;
  font-size: 1.25rem;
}

.article .p_lighter {
  grid-area: pl;
  font-size: clamp(0.5rem, 1rem, 1.125rem);
  padding: 44px 0px 20px 0px;
  font-weight: 300;
}
/* CRITIQUE */
#critique .section_critique {
  grid-template: 114px auto 60px auto / auto;
  grid-template-areas:
    "titre "
    "img "
    "pl"
    "pr";
}

.section_critique .img_critique {
  max-width: 100%;
}

.section_critique .p_lighter {
  padding: 0;
  font-size: 0.75rem;
}
