* {
  padding: 0;
  margin: 0px;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  color: #edebf0;
  box-sizing: border-box;
}
html {
  background: url(../Images/bg.png) no-repeat center/cover;
  scroll-behavior: smooth;
}
