@import "global.css";
@import "header.css";
@import "aside.css";
@import "accueil.css";
@import "scrollbar.css";
@import "generalites.css";
@import "animation.css";
@import "footer.css";
/* RESPONSIVE */
@media screen and (max-width: 1155px) {
  .section_accueil h1 {
    line-height: normal;
  }

  .article {
    padding: 0 0 50px 20px;
    grid-template: 90px repeat(3, auto) / auto;
    grid-template-areas:
      "titre"
      "img"
      "pr"
      "pl";
    width: 90vw;
  }
  .article img {
    padding-bottom: 20px;
  }
  .article .p_lighter {
    padding: 0;
  }

  #critique {
    grid-template: repeat(4, auto) / auto;
    grid-template-areas:
      "titre "
      "img "
      "pl"
      "pr";
    margin-top: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .hide-for-desktop {
    visibility: visible;
  }
  .hide-for-mobile {
    display: none;
  }
}
